.map-header-container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: green;
    border: black 2px solid;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: black;
    border-bottom: none;
}
